body {
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: hidden;
}

#navBarHr {
    background-color:rgb(64, 76, 184); 
    height: 2px; 
    margin:0
}

#navBar {
    background-color: #327ab6;
}

.titleHr {
    height:4px;
    background-color: rgb(64, 76, 184); 
}

.counter {
    color:white;
}

.box  {
    border: 3px solid rgb(64, 76, 184); 
    border-radius: 12px;
}

.pan-stat {
    border-color: rgb(64, 76, 184); 
    background-color: #3e8ed0;
}

.pan-hr {
    color:rgb(64, 76, 184); 
}

#dashboard-2 {
    margin-right:1.5%;
    margin-left:1.5%;
}


.project-box :hover {
    background-color: #327ab6;
    cursor: pointer;
}

.icon {
    padding-right:13%;
}

#name {
    color:rgb(110, 110, 110);
}

.section {

    margin-bottom:-3%;
}

#projects {
    margin-top:-1%;
}

.project-box {
    background-color: #3e8ed0;
}

.add-btn {
    margin-top:0.7%;
    margin-left:1%;
}

.selected-item {
    background-color: rgb(48, 184, 48);
}