body {
    background-color: #f5f5f5
    /*
    background-image: url("/photos/mountain.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;*/
}

#navBarHr {
    background-color:rgb(64, 76, 184); 
    height: 2px; 
    margin:0
}

#navBar {
    background-color: #627e9a;
}

.titleHr {
    height:4px;
    background-color: rgb(64, 76, 184); 
}

#wb, .pan-item, .pan-title {

    /*font-family: 'Poiret One', cursive;*/

}

.pan-item {

}

.pan-title {

}

.counter {
    color:white;
}

.dashboard {
    
}

#projects {
   
}

.box  {
    border: 3px solid rgb(64, 76, 184); 
    border-radius: 12px;
}

.pan-stat {
    border-color: rgb(64, 76, 184); 
    background-color: #3e8ed0;
}

.pan {
    
}

.pan-hr {
    color:rgb(64, 76, 184); 
}

#dashboard-2 {
    margin-right:1.5%;
    margin-left:1.5%;
}

.projects-details {
    position: fixed
}


.pan :hover {
    background-color: #327ab6;
    cursor: pointer;
}

.icon {
    padding-right:13%;
}

#name {
    color:rgb(110, 110, 110);
}

.section {

    margin-bottom:-3%;
}

#projects {
    margin-top:-1%;
}

#project-box {
    background-color: #3e8ed0;
}